@using Swampy.Admin.Web.HtmlHelpers
@using Swampy.Admin.Web.Infrastructure.HtmlExtensions
@model Swampy.Admin.Web.Models.ConfigurationItemInputModel

@{
    Layout = null;
    ViewBag.Title = Model.Id.HasValue ? "Edit ConfigurationItem" : "Create ConfigurationItem";
}


<div class="modal hide fade" role="dialog" id="create-configurationitem-@Model.Id">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">&times;</a>
        <h3>@ViewBag.Title</h3>
    </div>


    @using (Html.BeginForm("AddConfigurationItem", "Environment", FormMethod.Post))
    {
        <div class="modal-body">

            @Html.HiddenFor(x => x.EnvironmentId)

            @Html.HiddenFor(x => x.Id)

            @Html.BootstrapEditorFor(x => x.Name)
            
             <div class="control-group">
                <label class="control-label" for="SelectedItemType">Value</label>
                 <div class="controls">
                     @Html.DropDownListFor(x => x.SelectedItemType, Model.SelectedItemType.ToSelectList());
                     @Html.ValidationMessageFor(x=>x.SelectedItemType)
                 </div>
            </div>

            @Html.BootstrapEditorFor(x => x.Value)

           


            <div class="modal-footer">
                <a href="#" class="btn" data-dismiss="modal">Close</a>
                <input class="btn btn-primary" type="submit" value="Save Changes" />
            </div>
        </div>
    }


</div>

