@using Swampy.Admin.Web.HtmlHelpers
@using Swampy.Admin.Web.Models
@using Swampy.Admin.Web.Models.ReadModels
@model Swampy.Admin.Web.Models.Operation.EnvironmentReadModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";    
}

@section scripts
{
    @*@Scripts.Render("~/Content/scripts/viewspecific/environment.coffee")    
    @Scripts.Render("~/Content/scripts/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Content/scripts/viewspecific/environment-new.js")*@
    @Scripts.Render("~/Content/scripts/viewspecific/environment.detail.js")
}
<div>

    <div class="page-header">
        <h1>@Model.Name</h1>
    </div>
    @Html.HiddenFor(x => x.Id)

    <div class="display-horizontal">
        <div class="display-group">
            <p class="display-label">Domain</p>
            <div class="display-values">
                <p>@Model.Domain</p>
            </div>
        </div>
        <div class="display-group">
            <p class="display-label">Description</p>
            <div class="display-values">
                <p>@Model.Description</p>
            </div>
        </div>
    </div>

    <div id="edit-configurationitem">
        
    </div>
    @{ Html.RenderPartial("CreateConfigurationItemPopup", new ConfigurationItemInputModel { EnvironmentId = Model.Id }); }

    <table id="endpoints" class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Value</th>
                <th>Type</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var endpoint in Model.ConfigurationItems)
            {
                @Html.HiddenFor(x => x.Id)
                <tr>
                    <td>@endpoint.Name</td>
                    <td>@endpoint.Value</td>
                    <td>@endpoint.SelectedItemType</td>
                    <td><a class="edit-configurationitem" onclick="loadEditPopup(
                        '@Url.Action("GetConfigurationItem", "Environment", new { configurationItemId = @endpoint.Id, environmentId = Model.Id })', '#edit-configurationitem');"
                           href="#">
                            Edit
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a href="#create-configurationitem-" role="button" class="btn pull-right" data-toggle="modal">+ Add</a>

</div>
