@using Swampy.Admin.Web.Models
@using Swampy.Admin.Web.Models.ReadModels
@model Swampy.Admin.Web.Models.Operation.EnvironmentOutput
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";    
}

@section scripts
{
    @Scripts.Render("~/Content/scripts/viewspecific/environment.coffee")

    @Scripts.Render("~/Content/scripts/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Content/scripts/viewspecific/environment-new.js")
}
<div>

    <h1>@Model.Name</h1>
    @Html.HiddenFor(x=>x.Id)
    
    
    @Html.DisplayForModel();

    @* @Html.DropDownListFor(x => x.SelectedType, new SelectList(@Model.EndpointTypes, "SimpleEndpoint")) *@
    @* @Html.ActionLink("Create New Endpoint", "Edit", "Endpoint", new { environmentName = @Model.environmentName}, new { @class="btn btn-primary"}) *@


    @*<table id="endpoints" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Key</th>
                        <th>Value</th>
                        <th>Description</th>
                        <th>Type</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (EnvironmentReadModel.EndpointViewModel endpoint in Model.Endpoints)
                    {
                        <tr>
                            <td>@endpoint.Key</td>
                            <td>@endpoint.Value</td>
                            <td>@endpoint.Description</td>
                            <td>@endpoint.Type</td>
                            <td>@Html.ActionLink("Edit","Edit", "Endpoint", new { key=@endpoint.Key, environment=@Model.environmentName }, null)</td>
                        </tr>
                    }
                </tbody>
            </table>*@
    
    
    @Html.ActionLink("Edit", "Edit", "Environment", new { EnvironmentId=Model.Id },null);


</div>
