@using Swampy.Admin.Web.HtmlHelpers
@using Swampy.Admin.Web.Models
@using Swampy.Admin.Web.Models.ReadModels
@model Swampy.Admin.Web.Models.Operation.EnvironmentReadModel
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";    
}

@section scripts
{
    @*@Scripts.Render("~/Content/scripts/viewspecific/environment.coffee")

    @Scripts.Render("~/Content/scripts/datatables/jquery.dataTables.js")
    @Scripts.Render("~/Content/scripts/viewspecific/environment-new.js")*@
}
<div>

    <h1>@Model.Name</h1>
    @Html.HiddenFor(x=>x.Id)
    
    
    @Html.BootstrapDisplayFor(model=>model.Name)
    @Html.BootstrapDisplayFor(model=>model.Domain)
    @Html.BootstrapDisplayFor(model=>model.Description)

    @* @Html.DropDownListFor(x => x.SelectedType, new SelectList(@Model.EndpointTypes, "SimpleEndpoint")) *@
    @* @Html.ActionLink("Create New Endpoint", "Edit", "Endpoint", new { environmentName = @Model.environmentName}, new { @class="btn btn-primary"}) *@


    <table id="endpoints" class="table table-bordered table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Value</th>
                        
                        <th>Type</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var endpoint in Model.ConfigurationItems)
                    {
                        <tr>
                            <td>@endpoint.Name</td>
                            <td>@endpoint.Value</td>                            
                            <td>@endpoint.Type</td>                            
                        </tr>
                    }
                </tbody>
            </table>
    
    
    @Html.ActionLink("Edit", "Edit", "Environment", new { EnvironmentId=Model.Id }, new {@class="btn btn-primary"})


</div>
