@using Swampy.Admin.Web.HtmlHelpers
@model Swampy.Admin.Web.Models.Operation.EnvironmentInputModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";    
}





@using (Html.BeginForm("Edit", "Environment", FormMethod.Post))
{
        
    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Id)

        @Html.TwitterEditorFor(model => model.Name)

        @Html.TwitterEditorFor(model => model.Domain)

        @Html.TwitterTextAreaEditorFor(model => model.Description, 5, 20)

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            @Html.ActionLink("Cancel", "Index","Environment", null, new { @class="btn"})
        </div>
    </fieldset>
}
