@using Swampy.Admin.Web.HtmlHelpers
@using Swampy.Admin.Web.Models
@model Swampy.Admin.Web.Models.Operation.EnvironmentInputModel
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";    
}

@section scripts
{
    @Scripts.Render("~/Content/scripts/application/formpost.js") 
    @Scripts.Render("~/Content/scripts/viewspecific/environment.js")  
}


@if (Model.Id.HasValue)
{
    Html.RenderPartial("CreateConfigurationItemPopup", new ConfigurationItemInputModel {EnvironmentId = Model.Id.Value});
}

@using (Html.BeginForm("Edit", "Environment", FormMethod.Post))
{
        
    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Id)

        @Html.BootstrapEditorFor(model => model.Name)

        @Html.BootstrapEditorFor(model => model.Domain)

        @Html.BootstrapTextAreaEditorFor(model => model.Description, 5, 20)

        <a href="#create-configurationitem" role="button" class="btn" data-toggle="modal">+ Add</a>
                
        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save changes</button>
            @Html.ActionLink("Cancel", "Index", "Environment", null, new { @class = "btn" })
        </div>
    </fieldset>
}

