@model Swampy.Admin.Web.Models.Operation.EnvironmentInput
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";    
}


    
    @Html.ValidationSummary()

    @using (Html.BeginForm("Edit", "Environment", FormMethod.Post))
    {
        <fieldset>
            <legend>Edit</legend>
        
            @Html.HiddenFor(model => model.Id)
            <div class="control-group">
                @Html.LabelFor(model => model.Name)
                <div class="controls">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>

            <div class="control-group">
                @Html.LabelFor(model => model.Domain)
                <div class="controls">
                    @Html.EditorFor(model => model.Domain)
                    @Html.ValidationMessageFor(model => model.Domain)
                </div>
            </div>
            
            <div class="control-group">
                @Html.LabelFor(model => model.Domain)
                <div class="controls">
                    @Html.EditorFor(model => model.Domain)
                    @Html.ValidationMessageFor(model => model.Domain)
                </div>
            </div>

            <input type="submit" value="Save" />
       </fieldset>
    }
