<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <!-- start of site level styles -->
    @Styles.Render("~/Content/css")
    <!-- end of site level styles -->
    
    <!-- start of view-specic styles. these must be added within 'section styles' -->
    @RenderSection("styles", false)
    <!-- end of view-specific styles -->

</head>
<body>
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container-fluid">
                <div class="row-fluid">
                    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <a class="brand" href="#">Swampy Administration</a>
                    @Html.Partial("_LogOnPartial")
                    <div class="nav-collapse">
                        @Html.Partial("_NavPartial")
                    </div>
                    <!--/.nav-collapse -->

                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row-fluid">
            <div class="span9">
                @RenderBody()
            </div>
        </div>

        

        @Html.Partial("_Footer")

    </div>
    <!--/.fluid-container-->

    <!-- start of site level scripts -->
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Content/scripts/bootstrap/bootstrap.js")
    @Scripts.Render("~/Content/scripts/site.js")    
    <!-- end of site level scripts -->

    <!-- start of view-specific scripts. these need to be added within the view's 'section scripts' block -->
    @RenderSection("scripts", false)
    <!-- end of view-specific scripts -->
</body>
</html>
