@using Swampy.Admin.Web.Models.OperationModels
@using Swampy.Service.Entities.Endpoint
@model Swampy.Admin.Web.Models.OperationModels.Endpoint.CreateEndpoint

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}



@using (Html.BeginForm("Save", "Endpoint")) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>Create new endpoint in @Html.DisplayFor(model => model.EnvironmentName)</legend>
        
        
        @Html.DropDownListFor(x=>x.EndpointTypes, new SelectList(@Model.EndpointTypes, "Value", "Key", typeof(SimpleEndpoint)))
        

        @Html.HiddenFor(model=>model.EnvironmentName)

        <div class="editor-label">
            @Html.LabelFor(model => model.Endpoint.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endpoint.Name)
            @Html.ValidationMessageFor(model => model.Endpoint.Name)
        </div>
        
        <div class="editor-label">
            @Html.LabelFor(model => model.Endpoint.Description)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Endpoint.Description)
            @Html.ValidationMessageFor(model => model.Endpoint.Description)
        </div>

        @Html.Partial("CreateSimpleEndpoint", ((CreateSimpleEndpoint)@Model.Endpoint))
        

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Environment", new { environmentName=@Model.EnvironmentName }, null)
</div>
