@{
                       
    Bundles.Reference("Content/scripts/jquery/jquery-1.8.2.min.js");
    Bundles.Reference("Content/scripts/jquery/modernizr-1.7.js");
    Bundles.Reference("Content/scripts/bootstrap/bootstrap.js");
    Bundles.Reference("Content/scripts/site.coffee");

    Bundles.Reference("Content/styles/bootstrap/bootstrap.css");
    Bundles.Reference("Content/styles/bootstrap/bootstrap-responsive.css");

    Bundles.Reference("Content/styles/site.less");              
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>@ViewBag.Title</title>
    @Bundles.RenderStylesheets()
</head>
    <body>
        
        <div class="navbar navbar-fixed-top">
            <div class="navbar-inner">
                <div class="container">
                    
                    <a class="brand" href="@Url.Content("~/")">Swampy</a>
                    @Html.Partial("_NavPartial")
                    @Html.Partial("_LogOnPartial")
                </div>
            </div>
        </div>
        <div class="container">
            
            @RenderBody()
            
            <hr />
            <footer>
                <p>
                    &copy; Company 2012</p>
            </footer>
        </div>
        @Bundles.RenderScripts()
    </body>
</html>
