@model Swampy.Admin.Web.Models.OperationModels.Endpoint.CreateEndpoint

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


@Html.ValidationSummary(false)
@using (Html.BeginForm("Edit", "Endpoint"))
{
    
    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="control-group">


            @Html.LabelFor(model => model.SelectedType)

            <div class="controls">
                @Html.EditorFor(model => model.SelectedType)
                @Html.ValidationMessageFor(model => model.SelectedType)

            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description)
            <div class="controls">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    
</div>
