@using Swampy.Business.DomainModel.Entities
@model Swampy.Admin.Web.Models.OperationModels.Endpoint.CreateEndpoint

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


@Html.ValidationSummary(false)
@using (Html.BeginForm("Create", "Endpoint"))
{
    
    <fieldset>
        <legend>Create new endpoint in @Html.DisplayFor(model => model.EnvironmentName)</legend>


        @Html.DropDownListFor(x => x.SelectedType, new SelectList(@Model.EndpointTypes, "Value", "Key", typeof(ConfigurationItem)))


        @Html.HiddenFor(model => model.EnvironmentName)

        <div class="control-group">


            @Html.LabelFor(model => model.Endpoint.Name)

            <div class="controls">
                @Html.EditorFor(model => model.Endpoint.Name)
                @Html.ValidationMessageFor(model => model.Endpoint.Name)

            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Endpoint.Description)
            <div class="controls">
                @Html.EditorFor(model => model.Endpoint.Description)
                @Html.ValidationMessageFor(model => model.Endpoint.Description)
            </div>
        </div>

        @Html.Partial("CreateSimpleEndpoint", @Model)


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index", "Environment", new { environmentName = @Model.EnvironmentName }, null)
</div>
