@using Swampy.Domain.Entities.Endpoint
@model ConfigurationItem

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutFluid.cshtml";
}


@Html.ValidationSummary(false)
@using (Html.BeginForm("Save", "Endpoint"))
{
    
    <fieldset>
        <legend>Edit</legend>

        @Html.HiddenFor(model => model.Id)

        <div class="control-group">


            @Html.LabelFor(model => model.TypeName)

            <div class="controls">
                @Html.EditorFor(model => model.TypeName)
                @Html.ValidationMessageFor(model => model.TypeName)

            </div>
        </div>

        <div class="control-group">
            @Html.LabelFor(model => model.Description)
            <div class="controls">
                @Html.EditorFor(model => model.Description)
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        


        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    
</div>
